/* 

  CSS Customisations 

  of the 'readthedocs' theme
  for page dietrich-bollmann.com/vita

  Notes:

  - 

*/

/* Overwriting the 'readthedocs' theme CSS
   orig:

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 800px;
    margin: auto;
}

*/

/* Changing the 'readthedocs' theme 
   to get a width of 800px
   900px - (2 * 50px) = 800px
   => 
   |               wy-nav-content               |
   | left-column | center-column | right-column |
   | left-column |          main-column         |
   => 
   .left-column   { width: 120px; } 
   .main-column   { width: 680px; } / * 800 - 120       = 680 * /
   .center-column { width: 400px; } / * 800 - 120 - 200 = 480 * /
   .right-column  { width: 200px; }
*/
.wy-nav-content {
    padding: 30px 50px;
    max-width: 900px;
}

/* NewSkyLabs vita styling */

div#wrapper {
}

body {
    /* Font:
       font-family: "Times New Roman", Times, serif;
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-family: Noto Sans, Helvetica, Arial, sans-serif;
    */
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
}

.small-cups { font-variant: small-caps; }
.italic { font-style:italic; }
.small-italic { font-size: 12px; font-style:italic; }
.bold { font-weight: bold; }

h1 {
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    text-align: right;
    border-bottom: 2.5pt solid #888;
    padding: 0 0 0.2ex 0; /* top right bottom left */
    margin: 1ex 0 1.7ex 0;
}

h2 {
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
    color: #c51236;
}
 
h2.subsection {
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    border-bottom: 1.5pt solid #888;
    padding: 0.4ex 0 0.2ex 0; /* top right bottom left */
    margin: 1ex 0 1ex 0;
    /* background-color:  #6677aa; */
}

img.eml {
    position: relative; 
    bottom: -3px;
    vertical-align: text-bottom;
    border: none;
}

img.eml:hover {
    border: 1pt solid #bbb;
}

.center-column h2 {
    /* 
    font-size: 3.5ex;
    padding: 0;
    margin: 0;
    */
}

.thick-line {
    clear: both;
    padding: 0 0 0.2ex 0; /* top right bottom left */
    margin: 1ex 0 2.5ex 0;
    border-bottom: 2.5pt solid #888;
}

.left-column {
    float: left;
    width: 120px;
    text-align: center;
    padding: 0.6ex 0 0.6ex 0;
    margin: 0;
    /* background-color: green; */
}

.center-column {
    float: left;
    max-width: 480px; /* 800 - 120 - 200 = 480 */
    padding: 0;
    margin: 0;
    /* background-color:  #FF4466; */
}

.right-column {
    float: right;
    width: 200px;
    text-align: right;
    padding: 0;
    margin: 0;
    /* margin: 0 20pt 0 0; */
    /* background-color: #33ff88; */
}

.main-column {
    float: left;
    width: 680px; /* 800 - 120 */
    padding: 0.6ex 0 0.6ex 0;
    margin: 0;
    /* background-color: red; */
}

.header {
    font-weight: bold;
    padding: 0 0 0.2ex 0;
}

/* definition list */

div .deflist {
    padding: 0.4ex 0 3ex 0;
    margin: 0;
}

/* Education */

.education {}
.education .deflist{}

/* bibliography */

.neg-indent .entry {}
.bib-autor {}
.bib-year {}
.bib-title {
    font-style: italic;
}

.bib-journal {}

/* links */
a:link    { color: #999; } /* unvisited link */
a:visited { color: #666; } /* visited link */
a:hover   { color: #bbb; } /* mouse over link */
/* a:active  { color: #0000FF; } */ /* selected link */

/* bullet lists */

.bullet .entry .title { font-style:italic; }

/* unordered lists */

/* unordered bullet list */

ul.bullet {
    padding: 0pt;
    margin: 2.4ex 0ex 2.8ex 120px; /* ul: 80 + li: */
    text-indent: 0;
}

ul.bullet li {
    /* NOTE: 
       for some reasons in some situations (MkDocs with theme by Read the Docs)
       the margin is not inherited from ul.bullet li {}
       have to put it here again... */
    /* padding: 0.7ex 0 0.7ex 30pt; */
    padding: 0 0 0 30pt;
    margin: 0 0 0 -30pt;
}

ul.bullet li.bullet {
    /* NOTE: 
       for some reasons in some situations (MkDocs with theme by Read the Docs)
       the margin is not inherited from ul.bullet li {}
       have to put it here again... */
    margin: 0 0 0 -30pt;
}

ul.bullet li.no-bullet {
    /* NOTE: 
       for some reasons the margin is not inherited from ul.bullet li {}
       have to put it here again... */
    margin: 0 0 0 -30pt;
    list-style: none;
}

ul.bullet li p {
    padding: 0;
    margin: 1.2ex 0 1.2ex 0;
}
/* unordered negatife indent list */

ul.neg-indent {
    padding: 0pt;
    margin: 2.4ex 0ex 2.8ex 120px; /* ul: 80 + li: */
    text-indent: 0;
}

ul.neg-indent li {
    list-style-type: none;
    text-indent: -44pt;
    padding: 0.7ex 0 0.7ex 0; 
    margin-left: 0pt;
    margin: 0 0 0 0;
}

ul.neg-indent li.entry {
    margin: 0 0 0 0;
}

/* Honors and Awards */

.honors-and-awards {}

/* Language Abilities */

.language-abilities {}
.language-abilities .language { font-weight: bold; }
.language-abilities .level { font-style:italic; }
.language-abilities .description {}

/* */

h2, h3 {
    margin-top: 0px;
    padding-top: 0px;
}

div#head {
    /* left: 0px; */
    /* width: 820px; */
    /* margin: 0; */
    /* padding: 0; */
    /* top: 0px; */
    /* position: absolute; */
    /* background-color: #FFFF66; */
}

.clear {
    clear:both;
}

/* slightly larger breaks */

.brl {
    content:" ";
    display: block; margin-top: 5px; line-height: 10px;
}

.brll {
    content:" ";
    display: block; margin-top: 10px; line-height: 20px;
}

/* fin */
